<h1>Homes#top</h1>

<div class="container text-center">
  <p>
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も、商品の閲覧はできますが<br>
  購入には会員登録が必要になります。
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>新着商品</h3>
    </div>
  </div>
  <div class="row justify-content-center">
  <% @items.each do |item| %>
    <div class="col">
      <%= image_tag item.get_image %><br>
      <%= item.name %><br>
      ¥<%= item.purchase_price %>
    </div>
  <% end %>
  </div>
</div>