<h1>Admin::Customers#edit</h1>
<p>Find me in app/views/admin/customers/edit.html.erb</p>

<div class="container">

  <div class="col-4">
    <h5><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h5>
  </div>

  <div class="row">
    <div class="col-1">
      会員ID
    </div>
    <div class="col-1">
      <%= @customer.id %>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      氏名
    </div>
    <div class="col-1">
        <!-- f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前 -->
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      フリガナ
    </div>
    <div class="col-1">
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      郵便番号
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      住所
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      電話番号
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      メールアドレス
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      会員ステータス
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row">
      <div class="col-2">
        <!-- link_to edit_admin_customer_path(@customer.id) do -->
          <button type="button" class="btn btn-success">変更を保存する</button>
        <!-- end -->
      </div>
  </div>

</div>