<h1>Admin::Customers#index</h1>
<p>Find me in app/views/admin/customers/index.html.erb</p>


<div class="container">
  <div class="row justify-content-center">
    <h5>会員一覧</h5>
  </div>

  <% @cusotmers.each do |customer| %>
  <div class="row">
    <table class="table">
      <thead>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </thead>
      <tbody>
        <td><%= customer.id %></td>
        <td><%= customer.last_name %><%= customer.first_name %></td>
        <td><%= customer.email %></td>
        <td></td>
      </tbody>
    </table>
  </div>
  <% end %>

</div>
