<h1>Admin::Orders#index</h1>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-2">
      <h5><strong>注文履歴一覧</strong></h5><!--管理者トップページ-->
    </div>
  </div>

  <div class="row justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
        </tr>
      </thead>
      <tbody>
        <%= @orders.each do |order| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  </div>