<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>

<div class="container"><!--管理者トップページ-->
  <div class="row justify-content-between">
    <div class="col-2">
      <h5><strong>注文履歴一覧</strong></h5>
    </div>
  </div>

  <div class="row justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>
            購入日時
          </th>
          <th>購入者</th>
          <th>注文個数</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <% amount = 0 %>
        <tr>
          <td><%= order.created_at %></td>
          <td><%= order.name %></td>
          <td>
            <% @details.each do |detail| %>
            <% amount += detail.amount %>
            <%end%>
            <%= amount %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  </div>