<h1>Public::Items#index</h1>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-2">
      <h5>商品一覧</h5>
    </div>
  </div>


  <div class="row row-cols-4 justify-content-center">
  <% @items.each do |item| %>
    <%= link_to item_path(item.id) do %>
    <div class="col">
      <%= image_tag item.get_image %><br>
      <%= item.name %><br>
      ¥<%= item.purchase_price %>
    </div>
    <% end %>
  <% end %>
  </div>


</div>